<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add hobby</title>
</head>
<body>
<form name="add_model" action="addhobby" method="post">
    Text: <input type="text" name="text" /><br/>
    Type: <input type="text" name="type" /><br/>
    <input type="submit" value="Save" />
</form>
</body>