<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Hobby</title>
</head>
<body>
<h1>Hobby List</h1>
<ul>
    {{#hobby}}
        <li>Tipul: {{type}} Text: {{text}}</li>
    {{/hobby}}
</ul>
</body>
</html>